# Tiki Product & Price Crawling

In [1]:
# Import libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datalab.context import Context
import datalab.storage as storage
import google.datalab.bigquery as bq
import time

In [2]:
# Create array for product title & price
title = []
price = []

In [3]:
# Web scrap function
def scrap(WebUrl):
    # Web URL
    url = WebUrl
    
    # Plain HTML code
    plain = requests.get(url).text
    
    # Parser
    s = BeautifulSoup(plain, "html.parser")
    
    # Find and add product titles to array
    for i in s.findAll('p',{'class':'title'}):
        title.append(i.text.strip())
        
    # Find and add product price to aray    
    for i in s.findAll('span',{'class':'final-price'}):
        price.append(i.text.split()[0])

In [4]:
# Run Web scrap function
scrap('https://tiki.vn/dien-thoai-may-tinh-bang/c1789?src=mega-menu')

In [5]:
# Create dataframe from arrays
data = {'product':title,'price':price}
df = pd.DataFrame(data)
df

         price                                          product
0   20.690.000    Điện Thoại iPhone X 64GB VN/A - Hàng Chính...
1    7.490.000   Điện Thoại iPhone 6s 32GB - Hàng Chính Hãng...
2   17.810.000            Điện Thoại Samsung Galaxy S10 Plus...
3    2.290.000     Điện Thoại Xiaomi Redmi 6 (3/32GB) - Hàng...
4    2.750.000   Điện Thoại OPPO A3s (16GB/2GB) - Hàng Chính...
5      327.000      Điện Thoại Nokia 105 Single Sim (2017) -...
6    7.150.000        iPad WiFi 32GB New 2018 - Hàng Chính Hãng
7    2.490.000   Máy Đọc Sách Kindle Paperwhite 2018 (7th) -...
8    1.890.000     Điện Thoại Xiaomi Redmi 6A - Hàng Chính Hãng
9      270.000     Điện Thoại Trẻ Em MKIDS - Hàng Chính Hãng...
10   3.880.000   Điện Thoại Xiaomi Redmi Note 7 (3GB/32GB) -...
11   1.760.000           Điện Thoại Nokia 3.1 - Hàng Chính Hãng
12     459.000      Điện Thoại Nokia 130 2017 - Hàng Chính Hãng
13     749.000       Điện Thoại Nokia 8110 4G - Hàng Chính Hãng
14   9.890.000        iPad Mini 5 Wi-Fi 64GB -  Hàng Chính Hãng
15     358.000    Điện Thoại Nokia 106 Dual Sim - Hàng Chính...
16   2.870.000      Điện Thoại Nokia 5.1 Plus - Hàng Chính Hãng
17  12.990.000     Điện Thoại Xiaomi Mi Mix 2 (Black) - Hàng...
18   1.950.000             Máy Đọc Sách Kindle 2018 (8th) - Đen
19   2.590.000   Máy Đọc Sách Kindle Paperwhite 2018 (7th) -...
20   4.590.000   Điện Thoại OPPO F7 (128GB/6GB) - Hàng Chính...
21   4.590.000   Điện Thoại Xiaomi Redmi Note 7 (4GB/64GB) -...
22   4.190.000      Điện thoại Nokia 6.1 Plus - Hàng Chính Hãng
23  18.990.000  Điện Thoại Samsung Galaxy Note 9 (128GB/6GB)...
24   2.490.000   Máy Đọc Sách Kindle Paperwhite 2018 (7th) -...
25   7.990.000     Điện Thoại Pocophone F1 (64GB/6GB) - Hàng...
26   8.990.000    Điện Thoại iPhone 7 32GB - Nhập Khẩu Chính...
27   1.490.000           Điện Thoại Nokia 2.1 - Hàng Chính Hãng
28   8.990.000       iPad WiFi 128GB New 2018 - Hàng Chính Hãng
29   3.990.000   Điện Thoại Xiaomi Redmi Note 6 Pro (4/64) -...
30   1.129.000    Điện Thoại Nokia 230 Dual SIM - Hàng Chính...
31   8.590.000    Điện Thoại iPhone 6s Plus 32GB VN/A - Hàng...
32   2.990.000     Máy đọc sách Kindle PaperWhite 2018 gen 4...
33   6.490.000    Máy Đọc Sách Kindle Oasis 2018 (9th) - Xám...
34   2.990.000     Điện Thoại Asus Zenfone Max Pro M1 - Hàng...
35     938.000   Điện thoại Nokia 3310 Dual Sim - Hàng Chính...
36     590.000    Điện Thoại Nokia 150 Dual Sim - Hàng Chính...
37  18.090.000     Điện Thoại iPhone 8 Plus 64GB (Đỏ) - Nhập...
38   6.990.000  Điện Thoại iPhone 6s 32GB  - Nhập Khẩu Chính...
39   6.740.000           Điện Thoại Nokia 8.1 - Hàng Chính Hãng
40   3.390.000   Điện Thoại Xiaomi Redmi Note 6 Pro (3/32) -...
41   3.790.000     Điện Thoại Samsung Galaxy J7 Prime - Hàng...
42  12.990.000    Điện Thoại iPhone 8 64GB - Nhập Khẩu Chính...
43   1.629.000      Máy Tính Bảng Kindle Fire HD8 (8th) 16GB...
44  27.990.000    Điện Thoại iPhone XS Max 64GB - Hàng Chính...
45   3.770.000    Điện Thoại Nokia X6 64GB Ram 6GB (Có Tiếng...
46  19.900.000      Điện Thoại Samsung Galaxy S9 Plus - Hàng...
47   3.290.000    Điện Thoại OPPO F3 (4GB/64GB) - Hàng Chính...

In [6]:
# Encode product to utf-8
df['product_encoded'] = df['product'].apply(lambda x: x.encode('utf-8'))

In [7]:
# Fix Price
def fix_price(x):
  x = x.split('.')
  x = ''.join(x)
  return int(x)
df['price_fixed'] = df['price'].apply(fix_price)

In [8]:
# Create test dataset for BigQuery

# df_to_bigquery = df[['product_encoded','price_fixed']]
df_to_bigquery = df[['price','price_fixed']]

In [9]:
start = time.time()
df_to_bigquery.to_gbq('tiki_dataset.tiki_table', 
                 Context.default().project_id,
                 chunksize=10000, 
                 if_exists='replace',
                 verbose=False)
end = time.time()
print('Task completed in: {}'.format(end-start))

Task completed in: 140.18724036216736

In [10]:
df_to_bigquery

         price  price_fixed
0   20.690.000     20690000
1    7.490.000      7490000
2   17.810.000     17810000
3    2.290.000      2290000
4    2.750.000      2750000
5      327.000       327000
6    7.150.000      7150000
7    2.490.000      2490000
8    1.890.000      1890000
9      270.000       270000
10   3.880.000      3880000
11   1.760.000      1760000
12     459.000       459000
13     749.000       749000
14   9.890.000      9890000
15     358.000       358000
16   2.870.000      2870000
17  12.990.000     12990000
18   1.950.000      1950000
19   2.590.000      2590000
20   4.590.000      4590000
21   4.590.000      4590000
22   4.190.000      4190000
23  18.990.000     18990000
24   2.490.000      2490000
25   7.990.000      7990000
26   8.990.000      8990000
27   1.490.000      1490000
28   8.990.000      8990000
29   3.990.000      3990000
30   1.129.000      1129000
31   8.590.000      8590000
32   2.990.000      2990000
33   6.490.000      6490000
34   2.990.000      2990000
35     938.000       938000
36     590.000       590000
37  18.090.000     18090000
38   6.990.000      6990000
39   6.740.000      6740000
40   3.390.000      3390000
41   3.790.000      3790000
42  12.990.000     12990000
43   1.629.000      1629000
44  27.990.000     27990000
45   3.770.000      3770000
46  19.900.000     19900000
47   3.290.000      3290000